app = 'agentdemo'
primary_region = 'dfw'

[build]

[env]
  PHX_HOST = 'agentdemo.fly.dev'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[deploy]
  strategy = 'immediate'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
